.body {
  font-family: Arial;
  margin: 0;
}

.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  display: flex;
}

.logo {
  height: 150px;
  width: 200px;
  display: flex;
}

.Buttons button {
  position: relative;
  left: 1350px;
  bottom: 80px;
  background-color: rgb(17, 17, 18);
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.searchContent {
  position: absolute;
  top: 60px;
  left: 650px;
  display: flex;
  width: 100%;
  min-height: 100vh;
}
.searchBar {
  left: 500px;
  height: 10%;
  width: 100%;
  max-width: 500px;
  background: rgba(20, 16, 16, 0.2);
  display: flex;
  border-radius: 10px;
  padding: 5px 20px;
}
.searchBar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 12px 10px;
  font-size: 20px;
  color: #06041f;
}
.searchBar button img {
  width: 15px;
}
.searchBar button {
  position: relative;
  top: 3px;
  border: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #000000;
}

.cardImage {
  margin: auto;
  display: block;
  width: 80%;
}

.featuredText {
  position: relative;
  top: 20px;
  font-family: "Lato";
  font-size: 15px;
  background: rgb(213, 224, 225);
  justify-content: center;
  text-align: center;
}

* {
  box-sizing: border-box;
  font-family: "Lato";
  padding: 0;
  margin: 0;
}

.product {
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.productContainer {
  max-width: fit-content;
  position: relative;
  left: 0px;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-columns: auto auto auto auto; */
  gap: 50px;
}
.product img {
  position: relative;
  left: 60px;
  width: 200px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.productDesc {
  text-align: center;
  color: #060606;
}
.checked {
  color: orange;
}
